<form
  action="{{ path('delete', { id: animal.id }) }}"
  method="POST"
  onsubmit="return confirm ('es tu sûr de vouloir supprimer cet article?');"
>
  <input
    type="hidden"
    name="_token"
    value="{{ csrf_token('delete'~ animal.id)}}"
  />

  <input type="submit" value="supprimer" />
</form>