{# http://localhost/project_animalia/projet_animalia/public/animals #}

{% extends 'base.html.twig' %}

{% block body %}

    <div class="example-wrapper">
        <h2>Bonjour sur notre blog !</h2>
    </div>

    <nav></nav>

    {% for animal in animals %}
        <article>
            <div>
                <img src="{{ animal.img }}" alt="">
            </div>
            <h3>{{ animal.name }}</h3>
            {# <span>{{ animal.type_id }}</span> #}
            {# <span>{{ animal.genre_id }}</span> #}
        </article>
    {% endfor %}
{% endblock %}
