/****************** GENERAUX *******************/

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

span {
    display: block;
}

li {
    list-style: none;
}

main {
    /* position:relative;
    top: 100px; */
    z-index: 0;
}

/* HEADER */

header {
    box-shadow: 5px 5px 5px 5px rgba(185, 185, 185, 0.6);
    position: sticky;
    width: 100%;
    z-index: 3;
    background-color: rgb(255, 255, 255);
    top: 0;
}

/* FOOTER */

footer {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    z-index: 3;
}

/* INDEX = Page d'accueil */

.animals-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.animal-card {
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px 5px rgba(185, 185, 185, 0.6);
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animal-card-box-img {
    width: 300px;
}

/* SHOW = Page individuel de l'animal */

.animal-box-img {
    width: 500px;
}
